In [5]:
import pandas as pd

data = pd.read_csv('/home/administrator/Desktop/Python_Assignment/EmployeeAttrition.csv')

In [6]:
print(data.head())

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

           ...           RelationshipSatisfaction StandardHours  \
0          ...                                  1            80
1          ...                                  4            80
2          ...                                  2            80
3          ...                                  3            80
4          ...                                  4            80

   StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  \
0                 0                  8                      0               1
1                 1                 10                      3               3
2                 0                  7                      3               3
3                 0                  8                      3               3
4                 1                  6                      3               3

   YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  \
0               6                  4                        0
1              10                  7                        1
2               0                  0                        0
3               8                  7                        3
4               2                  2                        2

   YearsWithCurrManager
0                     5
1                     7
2                     0
3                     0
4                     2

[5 rows x 35 columns]

In [4]:
#Check the head of the DataFrame.
print(data.head())

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [41]:
#Q1: Find the number of entries/rows and columns in the data.
print(len(data))
#Q2: What is the average Monthly Income?

print(data["MonthlyIncome"].mean())

#Q3: What is the highest amount of HourlyRate ?

print(data["HourlyRate"].max())

#Q4: What is the Department, JobRole, MaritalStatus and OverTime of EmployeeNumber 10?

print(data.loc[data["EmployeeNumber"]==10,["Department","JobRole","MaritalStatus","OverTime"]])


#Q5: What is the Employee ID of highest MonthlyIncome paid employee?
print(data[data.MonthlyIncome==data.MonthlyIncome.max()]["EmployeeNumber"])
#Q6: What is the average(mean) DailyRate group by Age for all Employees whose age is greater than 58. (hint: use groupby function)

print(data[data["Age"]>58].groupby("Age")["DailyRate"].mean())


#Q7: How many unique EducationField are there?

print(data['EducationField'].unique())
#Q8: What are the top 5 most common JobRole?

print(data['JobRole'].value_counts().head(5))
#Q9: How many JobRoles represented by less than 100 employees?

print(sum(data['JobRole'].value_counts()<100))
#Q10: What is the correlation between Education and JobSatisfaction?

print(data['Education'].corr(data['JobSatisfaction']))

1470
6502.931292517007
100
               Department                JobRole MaritalStatus OverTime
6  Research & Development  Laboratory Technician       Married      Yes
190    259
Name: EmployeeNumber, dtype: int64
Age
59    992.3
60    833.2
Name: DailyRate, dtype: float64
['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']
Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Name: JobRole, dtype: int64
3
-0.011296116736573901